{% extends 'master_page.html' %}
{% block includes %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/tablesorter/style.css">
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(function()
                {
                    $(".tablesorter").tablesorter({
                        widgets: ['zebra']
                    });
                }
        );
    </script>
{% endblock %}
{% block content %}
    <div class="post">
    <h2 class="title">Таблица игроков</h2>
    <table class="tablesorter" style="width: 470px">
        <thead>
            <tr>
            <th>Имя</th>
            <th>Рейтинг Эло</th>
            </tr>
        </thead>
        <tbody>
        {% for player in info %}
            <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.elo_rating }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}