a { font-family: "Trebuchet MS", sans-serif; font-size: 12px; font-style: normal; text-decoration: none; color: gray; }
a:hover { color:#d3d3d3; font-weight: bolder; }
body { background-color: white; }

#layout{
    border-radius: 5px;
    background-color: white;
    text-align:left;
    margin:0 auto;
    padding:0 35px;
    padding-left:60px;
    min-width:940px;
    max-width:1154px;
    height: 100%;
    border:0 solid red;
}

.content {
    float: left;
    padding: 5px;
    width: 65.5%;
}

.sidebar {
    float: left;
    width: 31.5%;
    overflow: hidden;
    margin-bottom: 20px;
}

.linklist {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    list-style: none;
}

.linklist li {
    padding-bottom: 5px;
}

.linklist a {
    text-decoration: none;
}

.linklist a:hover {
    text-decoration: underline;
}

.linklist a:visited {
    color:black;
}

.button_details {
    background-color: #1e90ff;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #9CD009;
}

#header{
    margin-bottom: 20px;
    height: 100px;
}



.text_input {

}

.button {

}

#banner {
}