.tournament_info {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-style: normal;
}

body {
    background-color: #708090;
}

#layout{
    text-align:left;
    margin:0 auto;
    padding:0 35px;
    padding-left:60px;
    min-width:940px;
    max-width:1154px;
    border:0 solid red;
}

.content_left {
    background-color: white;
    float: left;
    margin-right: 1%;
    margin-left: 15px;
    padding: 5px;
    width: 65.5%;
}

.sidebar_right {
    background-color: white;
    float: left;
    width: 31%;
    overflow: hidden;
    margin-bottom: 20px;
}

.linklist {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    list-style: none;
}

.linklist a {
    text-decoration: none;
    color: #708090;
}

.button_details {
    background-color: #1e90ff;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #9CD009;
}