{% extends 'tournament/master_page.html' %}
{% block title %}Турнир {{ info.name }}{% endblock %}
{% block content %}
    <div class="post">
        <p><h2 class="title">Детали турнира {{ info.name }}</h2></p>
        <p>Название турнира: {{ info.name }}</p>
        <p>Количество призовых мест: {{ info.prizes }}</p>
        <p>Количество участников: {{ info.players_count }}</p>
        <table class="tablesorter">
            <thead>
            <th>Номер тура</th>
            <th>Количество игр</th>
            <th>Сыграных игр
            <th></th>
            </thead>
            <tbody>
            {% for tour in info.tours_list%}
                <tr>
                    <td>{{ tour.tour_number }}</td>
                    <td>{{ tour.game_amount }}</td>
                    <td>{{ tour.game_done_amount }}</td>
                    <td>
                        <a href="/tours/{{ tour.id }}" class="button_in_table">Переход</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}