{% extends 'tournament/master_page.html' %}
{% block body %}
    <div class="tournament_info">
        <p>Название турнира: {{ info.name }}</p>
        <p>Количество призовых мест: {{ info.prizes }}</p>
        <p>Количество участников: {{ info.players_count }}</p>
    </div>
    <table class="tablesorter">
        <thead>
            <th></th>
            <th>Номер тура</th>
            <th>Всего игр</th>
            <th>Сыграно</th>
        </thead>
        <tbody>
        {% for tour in info.tours_list %}
            <tr>
                <td><a href="/tours/{{ tour.id }}/"><img src="{{ STATIC_PREFIX }}img/arrow_right_green.png"></a> </td>
                <td>{{ tour.tour_number }}</td>
                <td>{{ tour.game_amount }}</td>
                <td>{{ tour.game_done_amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}