{% extends 'master_page.html' %}
{% block includes %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/tablesorter/style.css">
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.tablesorter.min.js"></script>
    <script>
    $(document).ready(function(){
        $('table.tablesorter').each(function (i, e) {
            var myHeaders = {}
            $(this).find('th.nosort').each(function (i, e) {
                myHeaders[$(this).index()] = { sorter: false };
            });

            $(this).tablesorter({ widgets: ['zebra'], headers: myHeaders });
        });
    });
    </script>
{% endblock %}
