<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    {% block includes %}
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/main.css" type="text/css" media="screen" />
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div id="layout">
    <div class="content_left">
    {% block content %}
    {% endblock %}
    </div>
    <div class="sidebar_right">
    {% block sidebar %}
        <ul class="linklist">
            <li><a href="/tournaments/">Туриниры</a></li>
            <li><a href="/players/rating/">Рейтинг Эло</a></li>
        </ul>
    {% endblock %}
    </div>
</div>
</body>
</html>