{% extends 'tournament/master_page.html' %}
{% block title %}Детали тура {% endblock %}
{% load player_tags %}
{% block content %}
    <div class="post">
    <p><h2 class="title">Детали тура</h2></p>
    <p><a href = "javascript:history.back()" class="button">Вернуться</a></p>
    <table class="tablesorter">
        <thead>
        <th>Участник 1</th>
        <th>Резульатат</th>
        <th>Участник 2</th>
        <th class="nosort">Введите результат</th>
        </thead>
        <tbody>
            {% for game in info %}
            <tr>
                <td>
                    {% get_player_figure game.players_info.0.plays_white %}
                    <span style="vertical-align: middle;">{{ game.players_info.0.player__name }}</span>
                </td>
                <td>
                {% if game.finished %}
                    {% get_winner_info game.players_info.0   %}
                {% endif %}
                </td>
                <td>
                    {{ game.players_info.1.player__name }}
                    {% get_player_figure game.players_info.1.plays_white %}
                </td>
                {% if not game.finished %}
                <td>
                <form action="/games/setWinner/{{ game.id }}/" method="post">
                {% csrf_token %}
                <select name="winner">
                    <option value="draw">Ничья</option>
                    <option value="{{ game.players_info.0.player__name }}">{{ game.players_info.0.player__name }}</option>
                    <option value="{{ game.players_info.1.player__name }}">{{ game.players_info.1.player__name }}</option>
                    <input type="submit" value="Принять" id="{{ game.id }}">
                </select>
                </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}